header{
    height: 90px;
    background-color: #F8BFC7;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

header > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu > li {
    display: inline;
    margin-right: 30px;
}

.content{
 background-color: #FFFFFF;
}
.content > footer{
    height: 201px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #336FD1;
    font-family: 'Helvetica';
    font-size: 50px;
    line-height: 57px;
    display: flex;
    color: #FEB700;
    padding-bottom: 100px;
}


.form-and-image{
    background-image: url("images/background.png");
    background-size: cover;
    width: 100%;
    height: 900px;
    padding: 90px;
}

.form{
    width: 300px;
    background: #F8BFC7;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 362px;
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.form-row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 240px;
    height: 100%;
}

footer{
    height: 90px;
    background-color: #F8BFC7;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;
    width: 100%;
}

input{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    background-color: #F8BFC7;
    font-size: 20px;
    color: white;
}

input:focus{
    outline: 0px;
}