.menu_container{
    background-color: #E5E000;;
    display: flex;
    flex-direction: column;
    width: 1440px;
}
.header , .links{
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: whitesmoke;
    font-family: 'Helvetica';
    font-size: 50px;
    line-height: 57px;
}

.links{
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: whitesmoke;
    font-family: 'Helvetica';
    font-size: 50px;
    line-height: 57px;
}

.text_block{
    background-color: white;
    padding-left: 5%;
}

.text_item{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Helvetica';
    font-size: 50px;
    line-height: 57px;
    color:white;
}






