.header,.footer{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    text-transform: uppercase;
    background-color: #FFE138;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    width: 100%;
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content-item{
    border: 1px solid #000000;
    width: 21%;
    margin: 75px;
}

.text-content{
    margin: 20px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.image{
    width: 100px;
}