.header{
    background-color: #0000FF;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

body{
    color: white;
}

*{
    font-family: 'Helvetica';
    font-size: 25px;
    line-height: 29px;
    font-weight: bold;
}

.text-container{
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 824px;
}

.text-block{
    border: 5px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
}

.text{
    padding: 9%;
    color: #000000;
}

@media only screen and (max-width: 390px) {
    .text-container{
        display: flex;
        color: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 824px;
    }

    .text-block{
        border: 5px solid #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 165px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
}