.header{
    display: flex;
    justify-content: space-between;
    height: 140px;
    color: #E50043;
    position: fixed;
    width: 1440px;
    background-color: white;
    padding: 50px;
}

body{
    width: 1440px;
    font-size: 40px;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link-item{
    margin-left: 25px;
}

.menu > li {
    display: inline;
}

.menu > li > a{
    color: #E50043
}

a:hover {
    text-decoration: underline;
}

a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}
.image{
    padding-top: 140px;
}

.text-block{
    margin-top: 150px;
    border-radius: 20px;
    width: 1040px;
    height: 280px;
    border: 3px solid #F8BFC7;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    width: 992px;
    height: 232px;
}

.bottles{
    display:flex;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
}

.image-and-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.glass-image{
    padding-left: 50px;
    padding-right: 56px;
}

.footer{
    background-color: #F8BFC7;
    display: flex;
    align-items: center;
}

.footer-item{
    color: #FFFFFF;
    padding: 50px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 50px;
    line-height: 57px
}