.header{
    display: flex;
    justify-content: space-between;
    height: 140px;
    color: #E50043;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 50px;
}

body{
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link-item{
    margin-left: 25px;
}

.menu > li {
    display: inline;
}

.menu > li > a{
    color: #E50043
}

a:hover {
    text-decoration: underline;
}

a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}
.image{
    margin-top: 140px;
    background-image: url("images/evian_origins_logo.png");
    background-size: cover;
    height: 950px;
    width: 100%;
}

.text-block{
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 20px;

    height: 280px;
    border: 3px solid #F8BFC7;
    padding: 20px;
}

.bottles{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-and-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.glass-image{
    padding-left: 50px;
    padding-right: 56px;
}

.footer{
    background-color: #F8BFC7;
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-item{
    color: #FFFFFF;
    padding: 50px;
    font-family: 'Arial';
    font-style: normal;
    font-size: 50px;
    line-height: 57px
}

.content{
    width: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
}

.bottle{
    display: flex;
    width: 279px;
    flex-direction: column;
    justify-content: space-around;
}

.bottle > p{
    margin-top: 48px;
    text-align: center;
}

p{
    margin-bottom: 15px;
}